<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <context:annotation-config /> -->

	<context:component-scan base-package="in.spring4buddies.application.instantiation.instance_factory" />
	<context:component-scan base-package="in.spring4buddies.application.instantiation.static_factory" />
	<context:component-scan base-package="in.spring4buddies.application.instantiation.constructor" />
	
	<bean id="springStaticFactory" class="in.spring4buddies.application.instantiation.static_factory.SpringStaticFactory" />
	<!-- <bean id="springInstanceFactory" class="in.spring4buddies.application.instantiation.instance_factory.SpringInstanceFactory" factory-method="springInstanceFactory" /> -->
	<!-- not working -->
	<!-- <bean id="springInstanceFactory" factory-method="springInstanceFactory" /> -->
	
	<bean id="springPersonalInstance" factory-bean="springStaticFactory" factory-method="createPersonalInstance" />
	<bean id="springWorkInstance" factory-bean="springStaticFactory" factory-method="createWorkInstance" />

	<!-- <bean id="springInstanceFactory" class="in.spring4buddies.application.instantiation.instance_factory.SpringInstanceFactory" factory-method="springInstanceFactory" /> -->
</beans>