<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="collectionBean" class="in.spring4buddies.application.beans.CollectionBean">
		<property name="someProps">
			<props>
				<prop key="administrator">administrator@example.org</prop>
				<prop key="support">support@example.org</prop>
				<prop key="development">development@example.org</prop>
			</props>
		</property>
		<property name="someList">
			<list>
				<value>a list element followed by a reference</value>
				<ref bean="springFooBean" />
			</list>
		</property>
		<property name="someMap">
			<map>
				<entry key="an entry" value="a map element followed by a reference" />
				<entry key="a ref" value-ref="springFooBean" />
			</map>
		</property>
		<property name="someSet">
			<set>
				<value>a set element followed by a reference</value>
				<ref bean="springFooBean" />
			</set>
		</property>
	</bean>

	<bean id="springFooBean" class="in.spring4buddies.application.beans.SpringFooBean" />
</beans>