<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Collection beans-->
	<bean id="collectionBean" class="in.spring4buddies.application.beans.CollectionBean">
		<property name="someProps">
			<props>
				<prop key="administrator">administrator@example.org</prop>
				<prop key="support">support@example.org</prop>
				<prop key="development">development@example.org</prop>
			</props>
		</property>
		<property name="someList">
			<list>
				<value>a list element followed by a reference</value>
				<ref bean="springRefBean" />
			</list>
		</property>
		<property name="someMap">
			<map>
				<entry key="an entry" value="a map element followed by a reference" />
				<entry key="a ref" value-ref="springRefBean" />
			</map>
		</property>
		<property name="someSet">
			<set>
				<value>a set element followed by a reference</value>
				<ref bean="springRefBean" />
			</set>
		</property>
	</bean>
	<!-- Collections -->
	
	<!-- idref beans -->
	<bean id="springRefBean" class="in.spring4buddies.application.beans.SpringRefBean" >
		<!-- <property name="idRefBean" value="idRefBean" /> -->
		<property name="idRefBean" > <idref bean="idRefBean"/></property>
	</bean>

	<bean id="aliasBean" class="in.spring4buddies.application.beans.AliasBean">
		<property name="innerRefBean">
			<bean id="innerRefBean" class="in.spring4buddies.application.beans.InnerRefBean">
				<property name="name" value="ajay" />
				<property name="address" value="hyd" />
			</bean>
		</property>
	</bean>
	
	<!-- alias bean -->
	<alias name="aliasBean" alias="aliasBean_a"/>

	<!-- merge beans -->
	<bean id="extendedCollectionBean" parent="collectionBean">
		<property name="someProps">
			<props merge="true">
				<prop key="sales">sales@example.uk</prop>
				<prop key="support">support@example.us</prop>
				<prop key="development">development@example.com</prop>
			</props>
		</property>
	</bean>
	
	<!-- idref beans -->
	<bean id="idRefBean" class="in.spring4buddies.application.beans.IdRefBean">
		<property name="name" value="ajay" />
		<property name="address" value="hyd" />
	</bean>
	
	<!-- A bean depends on single bean -->
    <!-- <bean id="beanA" class="in.spring4buddies.application.dependson.BeanA"
        depends-on="beanB" />
    <bean id="beanB" class="in.spring4buddies.application.dependson.BeanB" /> -->
 
    <!-- A bean depends on multiple beans -->
    <bean id="beanA" class="in.spring4buddies.application.dependson.BeanA" depends-on="beanB, beanC">
        <property name="beanB" ref="beanB" />
    </bean>
 
    <bean id="beanB" class="in.spring4buddies.application.dependson.BeanB" />
    <bean id="beanC" class="in.spring4buddies.application.dependson.BeanC" />
    
    <bean id="lazyBean" class="in.spring4buddies.application.beans.LazyBean" lazy-init="true"/>
    <bean id="eagerBean" class="in.spring4buddies.application.beans.EagerBean" />
	
</beans>