<modules>
	<module name="sf-ioc" alias="Spring IOC">
		<concept name="container overview" alias="container overview" type="all" generate="true">
			<sub-concept name="container overview 1" alias="" type="all" generate="true"/>
			<sub-concept name="container overview 2" alias="" type="all" generate="true"/>
			<sub-concept name="container overview 3" alias="" type="all" generate="false"/>
		</concept>
		<concept name="aop overview" alias="aop overview" type="all" generate="true">
			<sub-concept name="aop overview 1" alias="" type="all" generate="true"/>
			<sub-concept name="aop overview 2" alias="" type="all" generate="false"/>
			<sub-concept name="aop overview 3" alias="" type="all" generate="true"/>
		</concept>
	</module>
</modules>