<modules>
	<module name="sf-ioc" alias="Spring IOC">
		<concept name="container overview" alias="container overview" type="all" generate="true">
			<sub-concept name="container overview 1" alias="" type="all" generate="false">
			</sub-concept>
			<sub-concept name="container overview 2" alias="" type="all" generate="false">
			</sub-concept>
			<sub-concept name="container overview 3" alias="" type="all" generate="false">
			</sub-concept>
		</concept>
		<concept name="" alias="" type="all" generate="true">
			<sub-concept name="" alias="" type="all" generate="false">
			</sub-concept>
			<sub-concept name="" alias="" type="all" generate="false">
			</sub-concept>
			<sub-concept name="" alias="" type="all" generate="false">
			</sub-concept>
		</concept>
	</module>
	<module name="sf-aop" alias="Spring AOP">
		<concept name="AOP overview" alias="AOP overview" type="all" generate="true">
			<sub-concept name="" alias="" type="all" generate="false">
			</sub-concept>
			<sub-concept name="" alias="" type="all" generate="false">
			</sub-concept>
			<sub-concept name="" alias="" type="all" generate="false">
			</sub-concept>
		</concept>
		<concept name="" alias="" type="all" generate="true">
			<sub-concept name="" alias="" type="all" generate="false">
			</sub-concept>
			<sub-concept name="" alias="" type="all" generate="false">
			</sub-concept>
			<sub-concept name="" alias="" type="all" generate="false">
			</sub-concept>
		</concept>
	</module>
</modules>