<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- variant 0 -->
	<bean id="springFooBean"
		class="in.spring4buddies.application.constructor_injection.SpringFooBean">
		<constructor-arg ref="springBarBean" />
	</bean>
	
	<bean id="springBarBean"
		class="in.spring4buddies.application.constructor_injection.SpringBarBean">
		<constructor-arg type="java.lang.String">
			<value>name:bar</value>
		</constructor-arg>
		<constructor-arg type="java.lang.String">
			<value>role:se</value>
		</constructor-arg>
		<constructor-arg type="java.lang.Integer">
			<value>35</value>
		</constructor-arg>
		<constructor-arg type="java.lang.Double">
			<value>25.25</value>
		</constructor-arg>
	</bean>
	
	<!-- variant 1 -->
	<bean id="springFooBean1"
		class="in.spring4buddies.application.constructor_injection.SpringFooBean">
		<constructor-arg ref="springBarBean1" />
	</bean>
	
	<bean id="springBarBean1" class="in.spring4buddies.application.constructor_injection.SpringBarBean">
	<constructor-arg type="java.lang.Integer" value="35"/>
		<constructor-arg type="java.lang.String" value="name:bar" />
		<constructor-arg type="java.lang.Double" value="25.25" />
		<constructor-arg type="java.lang.String" value="role:se" />
	</bean>

	<!-- variant 2 -->
	<bean id="springFooBean2"
		class="in.spring4buddies.application.constructor_injection.SpringFooBean">
		<constructor-arg ref="springBarBean2" />
	</bean>
	
	<bean id="springBarBean2" class="in.spring4buddies.application.constructor_injection.SpringBarBean">
		<constructor-arg name="name" value="name:bar" />
		<constructor-arg name="role" value="se"/>
		<constructor-arg name="age" value="35" />
		<constructor-arg name="salary" value="25.25" />
	</bean>
	
	<!-- variant 3 -->
	<bean id="springFooBean3"
		class="in.spring4buddies.application.constructor_injection.SpringFooBean">
		<constructor-arg ref="springBarBean3" />
	</bean>
	
	<bean id="springBarBean3" class="in.spring4buddies.application.constructor_injection.SpringBarBean">
		<constructor-arg name="name" value="name:bar" />
		<constructor-arg name="role" value="se"/>
		<constructor-arg name="age" value="35" />
	</bean>

</beans>