<html>
    <body>
        <h3>Hi ${firstname}, welcome to the Spring4buddies message boards!</h3>

        <div>
            Dear ${firstName} ${lastName}
 
			Sending Email Using Spring Smtp Email + Velocity Template.

			Thanks
        </div>
    </body>
</html>

