<html>
    <body>
        <h3>Hi ${firstname}, welcome to the Spring4buddies message boards!</h3>

        <div>
            Dear ${firstname} ${lastname}, <br>
 
			Sending Email Using Spring Smtp Email + Velocity Template.<br>

			Thanks<br>
			Spring4Buddies Team
        </div>
    </body>
</html>

