<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:annotation-config />

	<context:component-scan base-package="in.spring4buddies.application.*" />
	<context:component-scan base-package="in.spring4buddies.application.aop.*" />

	<aop:aspectj-autoproxy />
<!-- 
	<aop:config>
		<aop:aspect ref="loggingAspect" order="1">
			<aop:pointcut id="loggingPointcuts"
				expression="execution(* in.spring4buddies.application.service.*.*(..))" />
			<aop:before method="logBefore" pointcut-ref="loggingPointcuts" />
		</aop:aspect>

		<aop:aspect ref="transactionAspect" order="0">
			<aop:pointcut id="transactionPointcuts"
				expression="execution(* in.spring4buddies.application.service.*.*(..))" />
			<aop:before method="txnBefore" pointcut-ref="transactionPointcuts" />
		</aop:aspect>

	</aop:config>

	<bean id="loggingAspect" class="in.spring4buddies.application.aop.LoggingAspect" />
	<bean id="transactionAspect" class="in.spring4buddies.application.aop.TransactionAspect" />
 -->
</beans>