<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="springSingletonBean"
		class="in.spring4buddies.application.lookup_method.SpringSingletonBean">
		<lookup-method name="createSpringPrototypeBean" bean="springPrototypeBean" />
	</bean>

	<bean id="springPrototypeBean"
		class="in.spring4buddies.application.lookup_method.SpringPrototypeBean"
		scope="prototype" />

</beans>