<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="springFooBean"
		class="in.spring4buddies.application.method_replacer.SpringFooBean">
		<replaced-method name="getMessage" replacer="methodReplacerBean" />
	</bean>

	<bean id="methodReplacerBean"
		class="in.spring4buddies.application.method_replacer.MethodReplacerBean" />

</beans>