<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="springFooBean" class="in.spring4buddies.application.c_namespace.SpringFooBean"
		c:springBarBean-ref="springBarBean" 
		c:springBazBean-ref="springBazBean" />

	<bean id="springBarBean" class="in.spring4buddies.application.c_namespace.SpringBarBean"
		c:name="name:bar" 
		c:role="se" 
		c:age="35" 
		c:salary="25.25" />

	<bean id="springBazBean" class="in.spring4buddies.application.c_namespace.SpringBazBean"
		c:name="name:baz" 
		c:role="sse" />
</beans>