<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employee" class="in.spring4buddies.application.callback.Employee"
		init-method="init" destroy-method="destroy">
		<property name="empId" value="10" />
		<property name="name" value="sathish" />
	</bean>
	
	<bean id="employeeWithInferface" class="in.spring4buddies.application.callback.EmployeeWithInferface">
		<property name="empId" value="20" />
		<property name="name" value="sash" />
	</bean>

</beans>