<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="address" class="in.spring4buddies.application.autowiring.Address" />
	<bean id="employee" class="in.spring4buddies.application.autowiring.Employee" />
	
	<!-- <bean id="address_byName" class="in.spring4buddies.application.autowiring.Address" /> -->
	<bean id="employee_byName" class="in.spring4buddies.application.autowiring.Employee" autowire="byName" />
	
	<!-- <bean id="address_byType" class="in.spring4buddies.application.autowiring.Address" /> -->
	<bean id="employee_byType" class="in.spring4buddies.application.autowiring.Employee" autowire="byType" />
	
	<bean id="employee_constructor" class="in.spring4buddies.application.autowiring.Employee" autowire="constructor" />
	
	<!-- autodetect is not working -->
	<!-- <bean id="employee_constructor" class="in.spring4buddies.application.autowiring.Employee" autowire="autodetect" /> -->

</beans>